h1 {
  text-align: center;
}

main {
  text-align: center;
}

section {
  border-style: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px 20px 20px 20px;
}

.boldText {
  font-weight: bold;
}

.errorText {
  color: red;
}

table {
  margin: 20px 30px 20px 30px;
  border-style: solid;
}

th {
  text-align: center;
}
