h1 {
  text-align: center;
}

main {
  text-align: center;
}

section {
  border-style: solid;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.boldText {
  font-weight: bold;
}

.errorText {
  color: red;
}

table {
  padding: 20px 20px 20px 20px;
  border-style: solid;
}
