h1 {
  text-align: center;
}

main {
  text-align: center;
}

body {
  background-color: #4099FF;
}

section {
  border-style: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px 20px 20px 20px;
  background-color: #D3D3D3;
}

.boldText {
  font-weight: bold;
}

.errorText {
  color: red;
}

table {
  margin: 20px 30px 20px 30px;
  border-style: solid;
}

th {
  text-align: center;
}

.taskQueue {
  width: 50%;
}
