<h3>Welcome to Twetr:</h3>
<section class='keysSection' data-ng-controller='KeysController'>
  <p class='boldText'>Your keys are provided by Twitter at apps.twitter.com (you may need to authorize a new app).</p>
  <form class='keysForm'>
    <label>Consumer Key</label>
    <input type='text' data-ng-model='keys.consumer_key'>

    <label>Consumer Secret</label>
    <input type='text' data-ng-model='keys.consumer_secret'>

    <label>Access Token</label>
    <input type='text' data-ng-model='keys.access_token'>

    <label>Access Token Secret</label>
    <input type='text' data-ng-model='keys.access_token_secret'>
    
    <button data-ng-click='saveKey(keys)'>Save Keys</button>
  </form>
  <p>{{ keyResult }}</p>
</section>

<section class='tweetsSection' data-ng-controller='TweetsController'>
  <p class='errorText'>{{ err }}</p>
  <p class='result'>{{ result }}</p>
  <form class='tweetForm'>
    <label>New tweet</label>
    <input type='text' placeholder='Status' data-ng-model='status'>
    <button data-ng-click='submitTweet(status)'>Tweet</button>

    <br>
    <label>Delete tweet</label>
    <input type='text' placeholder='Tweet ID' data-ng-model='untweetID'>
    <button data-ng-click='submitUntweet(untweetID)'>Remove</button>
    <br>

    <br>
    <label>New retweet</label>
    <input type='text' placeholder='Tweet ID' data-ng-model='retweetID'>
    <button data-ng-click='submitRetweet(retweetID)'>Retweet</button>
    <br>

    <label>Delete retweet</label>
    <input type='text' placeholder='Tweet ID' data-ng-model='unretweetID'>
    <button data-ng-click='submitUnretweet(unretweetID)'>Remove</button>
  </form>

  <br>

  <form class='followForm'>
    <label>Follow User</label>
    <input type='text' placeholder='User ID' data-ng-model='followId'>
    <button data-ng-click='submitFollow(followId)'>Follow</button>
    <br>

    <label>Un-Follow User</label>
    <input type='text' placeholder='User ID' data-ng-model='unfollowId'>
    <button data-ng-click='submitUnfollow(unfollowId)'>Unfollow</button>
  </form>

  <br>

  <form class='miscForm'>
    <label>Convert Username to ID</label>
    <input type='text' placeholder='Username' data-ng-model='lookupUser'>
    <button data-ng-click='submitConvert(lookupUser)'>Look-Up</button>
  </form>

  <form>
    <label>Search recent tweets:</label>
    <input type='text' placeholder='Query' data-ng-model='query'>
    <button data-ng-click='submitSearch(query)'>Search</button>
  </form>

  <br>

  <form class='taskForm'>
    <label>Auto-Post from subreddit: r/</label>
    <input type='text' placeholder='Subreddit' data-ng-model='subreddit'>
    <button data-ng-click='submitAutoTweet(subreddit, freq)'>Tweet It Up!</button>

    <br>
    <label>Schedule:</label>
    <input type='text' data-ng-model='freq'> Post every 
    <select data-ng-model='schedule.selectTime' data-ng-change='reloadSchedule()'>
      <option ng-repeat='option in schedule.availableOptions' value='{{ option.id }}'>{{ option.name }}</option>
    </select> minutes
    <br>

    <label>Delete task:</label>
    <input type='text' placeholder='Task ID' data-ng-model='delTask'>
    <button data-ng-click='submitDeleteTask(delTask)'>Delete</button>
  </form>

  <table data-ng-if='queueRes[0]' class='taskQueue'>
    <th>Task ID</th>
    <th>Subreddit</th>
    <th>Frequency</th>
    <th></th>
    <tr data-ng-repeat='result in queueRes'>
      <td>{{ result.id }}</td>
      <td>{{ result.title }}</td>
      <td>{{ result.frequency }}</td>
      <td>
        <button data-ng-click='submitDeleteTask(this.result.id)'>Delete</button>
      </td>
    </tr>
  </table>

  <table data-ng-if='searchRes'>
    <th>Tweet ID</th>
    <th>Posted By</th>
    <th>Tweet</th>
    <th></th>
    <th></th>
    <tr data-ng-repeat='result in searchRes'>
      <td>{{ result.id_str }}</td>
      <td>{{ result.user.screen_name }}</td>
      <td>{{ result.text }}</td>
      <td>
        <button data-ng-click='submitRetweet(this.result.id_str)'>Retweet</button>
      </td>
      <td>
        <button data-ng-click='submitFollow(this.result.user.id_str)'>Follow</button>
      </td>
    </tr>
  </table>

</section>
